* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* header */

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 7vh;
}

header nav {
  margin-left: 15px;
  margin: 10px 15px 10px 0px;
  align-items: center;
}

header nav a {
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 20px 10px;
  text-align: center;
  transition: ease-in-out 0.7s;
  color: white;
  border-radius: 0px 20px 0px 0px;
}

header .logo img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 4px;
  right: 10px;
  margin: 15px 15px;
  transition: ease 0.5s;
}

header .logo img:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 15px;
  transition: linear 1s;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 5px 5px #3f3f3f;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  transition: linear 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(192, 0, 0);
}

header nav a:hover {
  background-color: rgba(255, 0, 0, 0.377);
  border-right: 1px solid red;
  border-left: 1px solid red;
}

/* banner */

.banner {
  height: 70vh;
  background-image: url(./imgs/banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-blend-mode: overlay;
  transition: ease 1s;
  background-color: rgba(0, 0, 0, 0.39);
  background-position: top;
}

.banner .banner-text {
  margin-left: 30px;
  width: 15%;
  color: white;
  text-align: start;
}

.banner a {
  text-decoration: none;
  color: red;
  padding: 5px;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  opacity: 50%;
  transition: ease 1s;
  border-radius: 0px 15px 10px 0px;
  background-color: black;
  border: 1px solid red;
  font-family: "Josefin Sans", sans-serif;
}

.banner:hover .banner-button {
  background-color: red;
  border: 1px solid white;
  opacity: 100%;
  color: white;
}
.banner .banner-title {
  margin-bottom: 5px;
  margin-left: 30px;
  transition: ease 1s;
  color: white;
  opacity: 50%;
}

.banner-title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

.banner:hover .banner-title {
  opacity: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.banner .banner-text p {
  opacity: 10%;
  transition: ease 1s;
}

.banner:hover .banner-text p {
  opacity: 100%;
  margin-bottom: 5px;
}

.banner:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.banner .banner-text p {
  opacity: 10%;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(63, 63, 63);
  color: white;
}

.about .academy-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  width: 30vw;
}

.about .academy-info img {
  width: 150px;
  height: 150px;
  margin: 15px 0px;
  border-radius: 50%;
  transition: ease 0.3s;
  outline: 2px solid white;
}

.about .academy-info img:hover {
  width: 155px;
  height: 155px;
  margin: 15px 0px;
  outline: 1px solid white;
}

/*academy-p typing effect */

.wrapper {
  height: 20vh;
  margin-top: 40px;
}

.aca-p {
  width: 100%;
  animation: typing 6s steps(100), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.about .academy-info h2 {
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

.about .academy-info p {
  text-align: center;
}
/* team info */

.team-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  margin-bottom: 50px;
  height: auto;
}
.mohamed,
.amr,
.abdelrahman,
.retaj,
.rewan {
  border-radius: 20px;
  /* position: absolute; */
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.514);
  margin: 20px;
  text-align: center;
  height: 140px;
  width: 30%;
  padding: 20px;
  transition: all 1s;
}

.team-info h2 {
  font-family: "Josefin Sans", sans-serif;
}

.team-info .job p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.team-info .fa-user {
  transform: scale(1.4);
  margin-bottom: 15px;
}

.team-info h2 {
  margin-bottom: 10px;
}

.mohamed:hover,
.amr:hover,
.abdelrahman:hover,
.retaj:hover,
.rewan:hover {
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288);
  transform: scale(1.05);
}

/* products section */

.products-section {
  display: flex;
  border-top: 5px solid #3f3f3f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transition: linear 1s;
}

.products-section:hover {
  border-top: 3px solid #ff000059;
}

/* search logo */

.search-site-logo {
  margin-bottom: 40px;
  padding: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border-right: 1px solid red;
  border-bottom: 2px solid red;
  transition: ease 0.35s;
  color: #3f3f3f;
}

.search-site-logo h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  transition: ease 0.35s;
}

.search-site-logo:hover {
  border-left: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 0px solid red;
  border-right: 0px solid red;
}

.search-site-logo:hover .search-site-logo-h1 {
  color: red;
}

/* search bar */

.products-section .search {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
  border-radius: 25px;
  width: 30em;
  height: 20px;
  margin-bottom: 30px;
  transition: ease 1s;
}

.products-section .search .fa-magnifying-glass {
  padding: 0px 20px 0px 0px;
  margin-left: 30px;
  color: white;
  transform: scale(1.2);
}

.products-section .search .search-input {
  font-size: 20px;
  border: none;
  color: white;
  background-color: rgb(221, 221, 221);
  outline: none;
  text-decoration: none;
  margin-right: 100px;
}

.search:hover {
  width: 32em;
  border-top: 1px solid red;
  border-bottom: 2px solid red;
  box-shadow: 1px 1px 3px 3px #b0b0b0;
}

/* .search:hover .search-input {
  margin-right: 100px;
  margin-left: 0px;
} */

/* buttons */

.buttons {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
  transition: ease 1s;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px 7px;
}

.buttons a:hover {
  background-color: red;
  color: white;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.377);
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  color: #3f3f3f;
}

.product-info .productimg {
  transition: ease 1s;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  height: 100%;
  width: 70%;
}

.products .product-info .productimg img {
  height: 100%;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  transition: ease 0.8s;
}

.product-info h4 {
  margin-bottom: 10px;
}

.product-info:hover .productimg {
  transform: scale(1.1);
  border: 1px solid #3f3f3f;
}

.product-info:hover {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.product-info .info {
  display: flex;
  gap: 50px;
  transition: ease 1s;
  justify-content: space-between;
  flex-wrap: wrap;
}

.atc {
  display: none;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

.atc i {
  margin: 5px;
}

.product-info:hover .atc {
  display: flex;
}

.product-price {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  transition: linear 0.5s;
  font-size: 20px;
  font-weight: 500;
}

.product-info:hover .product-price {
  font-weight: bold;
  color: white;
  font-size: 18px;
  background-color: red;
}

/* footer */

footer {
  background-color: #3f3f3f;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.logo-b-w img {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
  transition: ease 1s;
  border-radius: 50%;
}
.logo-b-w img:hover {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
  outline: 1px solid white;
}

footer h2 {
  font-size: 30px;
  font-family: "El Messiri", sans-serif;
  margin-bottom: 10px;
}

.parent-footer-p {
  margin: 0;
}

.footer-p {
  text-align: center;
  font-family: "El Messiri", sans-serif;
}
footer .line {
  width: 40%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  margin: 15px 0px;
}

@media (max-width: 1700px) {
  header nav a {
    padding: 12px 5px;
  }
  .banner-text {
    margin-left: 15px;
  }
  .banner a {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    left: 18px;
    font-size: 12px;
  }
  .banner .banner-title h2 {
    font-size: 20px;
  }
  .aca-p {
    font-size: 12px;
  }
  .products-section {
    padding-top: 25px;
  }
  .products-section .search .search-input {
    width: 80%;
    font-size: 16px;
    margin-right: 40px;
  }
  .buttons a {
    margin: 0px 3px;
    font-size: 16px;
  }
}
/* 
mobile ==> 768
*/
@media (max-width: 768px) {
  nav {
    padding-left: 20px;
  }
  nav a {
    font-size: 12px;
    padding: 12px 3px;
  }
  .banner-text p {
    font-size: 10px;
    width: 30em;
  }
  .banner a {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    left: 18px;
    font-size: 12px;
  }
  .academy-info {
    width: 100%;
    justify-content: center;
  }
  .academy-info h2 {
    font-size: 15px;
  }
  .aca-p {
    font-size: 7px;
    white-space: wrap;
  }
  .mohamed,
  .amr,
  .abdelrahman,
  .retaj,
  .rewan {
    width: 50vw;
  }
  .team-info h2 {
    font-size: 15px;
  }
  .team-info .job p {
    font-size: 11px;
    margin-top: 20px;
  }
  .products-section .search {
    width: 12em;
  }
  .search:hover {
    width: 15em;
  }
  .search-site-logo {
    margin-top: 10px;
  }
  .buttons a {
    font-size: 12px;
  }
  .product-info {
    width: 60vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .product-info footer h2 {
    font-size: 20px;
    margin: 0 0;
  }
  .footer-p {
    font-size: 12px;
  }
  .product-info .info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-content: center;
    justify-items: center;
  }
  .product-info:hover .info {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .atc {
    font-size: 15px;
  }

  .about {
    height: 120%;
  }
  .product-info:hover .product-price {
    color: white;
    font-size: 15px;
    padding: 5px;
    background-color: red;
  }
  .product-info:hover .atc {
    padding: 10px;
    border-radius: 25px;
  }
}
